@import "tailwindcss";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme inline {
  --font-montserrat: var(--font-montserrat);
  --font-space-grotesk: var(--font-space-grotesk);
  --font-clash-grotesk: var(--font-clash-grotesk);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
